:local(.lunch) {
  background-image: url("https://i.gyazo.com/dcfd984f3988e07a833256c1078d8a4b.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  width: 30%;
}