:local(.skills) {

  // background
  background-image: url("https://cdn.pixabay.com/photo/2017/03/20/21/00/server-2160321_960_720.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  // font
  color: white;

  ul {
    padding: 0;
    
  }

  li {
    list-style: none;
  }

  div {
    display: inline-block;
    width: 25%;
    margin: auto;
    padding: 0;
    vertical-align: top;
  }
}