<section ng-class="$ctrl.styles.skills">
  <h1>Skills</h1>
  <nav></nav>
  <div>
    <h3>Front End</h3>
      <ul>
        <li>Html</li>
        <li>CSS</li>
        <li>SASS/SCSS</li>
        <li>Angular</li>
        <li></li>
        <li></li>
      </ul>
  </div>
  <div>
    <h3>Back End</h3>
      <ul>
        <li>JavaScript</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
        <li>Mocha</li>
        <li>Chai</li>
      </ul>
  </div>
  <div>
    <h3>Other</h3>
    <ul>
      <li>Git</li>
      <li>Github</li>
      <li>Webpack</li>
      <li>Heroku</li>
    </ul>
  </div>
</section>