:local(.skills) {
  background-image: url("https://cdn.pixabay.com/photo/2017/04/08/10/34/laptop-2212967_960_720.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}