:local(.about) {
  color: black;  

  // background
  background-image: url("http://wallpapercave.com/wp/bwNMtPe.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 15%;
    border-radius: 50%;
  }

  section {
    position: relative;
  }

  nav {
    vertical-align: top;
  }

}
