<section ng-class="$ctrl.styles.home">
  <div>
    <img id="headshot" src="https://i.gyazo.com/6da2c815d8e59dd2919dc567d65d0d2e.png">
    <h1>Tyler Smith</h1>
    <h2>Full-Stack Software Developer</h2>
    <a target="_blank" href="https://linkedin.com/in/tysmith86"><img class="icon" src="http://www.freeiconspng.com/uploads/images-linkedin-logo-png-14.png" alt="LinkedIn"></a>
    <a target="_blank" href="https://github.com/tysmith86"><img class="icon" src="http://www.freeiconspng.com/uploads/github-icon-1.png" alt="Github"></a>
    <a target="_blank" href="https://twitter.com/tycoder"><img class="icon" src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Twitter-icon.png" alt="Twitter"></a>
  </div>
</section>
