<section ng-class="$ctrl.styles.home">
  <div>
    <h1>Tyler Smith</h1>
    <h2>Full-Stack Software Developer</h2>
    <img src="https://www.linkedin.com/mpr/mpr/AAEAAQAAAAAAAAk3AAAAJDQ0MzIzMTFmLWU2NjctNGZiOC1hMWFmLTJlODEzZTY3NTY3MQ.jpg">
    <p>I graduated from Code Fellows PDX in January, and am currently pursuing a career as a software developer. I am passionate about creating intuitive and useful web applications, as well as learning all that I can to make myself stand out in this competetive industry. My ideal position would involve being an integral part of a team, in which we help each other grow as developers.</p>
  </div>
</section>