<div ng-class="$ctrl.styles.lunch">
  <h3>Chore Tracker</h3>
  <a target="_blank" href="https://choretrack.herokuapp.com/#!/">Site</a>
  <a target="_blank" href="https://github.com/chore-crew/chore-game">Code</a>
  <img src="https://i.gyazo.com/6700822e109ac32af44bfae4bd9bafe9.png">
  <p>Chore Tracker is an application that allows you to create an account and either create or join a house. Once you belong to a house, you may add and complete chores. After completing chores, the chore stats are tracked using various charts.</p>
</div>