<section>
  <div>
    <h3>Experience</h3>
    <p>Prior to attending Code Fellows PDX, I enjoyed a career in IT/Telecom. I acquired my CompTIA A+ certification before accepting a position at Northwest Telecom Systems. I entered as a Telecom Technician Trainee, with no prior telecom experience. I quickly learned various proprietary and industry-wide technologies, including; Samsung, ESI, and AT&T business phone programming software, along with Wireshark, WinSCP, and Telnet. After gaining proficiency with these technologies, I obtained certifications from our partners and advanced to the role of Lead Telecom Technician. </p>
  </div>
</section>